*.map
/public/css/all.css
/vendor
/node_modules
.env
npm-debug.log
composer.lock
/config/app.php
/public/.htaccess
/public/uploads/*
/node_modules
/assets/bower
/public/js/vendor.*
/resources/assets/bower
/resources/assets/css/app.css
/config/mail.php
