.icon36 {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0.5em 2em 0.5em 0;
	margin:0;
}

.icon-viajar {
	background-image: url('/img/viajaricon.png');
	margin-right: 0.2em;
}
.icon-conectar {
	background-image: url('/img/conectaricon.png');
	margin-right: 0.1em;
}
.icon-cuidar {
	background-image: url('/img/cuidaricon.png');
}
.menu-viajar,
.menu-cuidar {
	width:30%;
}
.menu-conectar {
	width:40%;
}

a.logo {
	padding: 0px;
	width:100%;
	img {
		margin:0 auto;
		height:100%;
	}
}
.hello {
	padding-top: 1.2em;
	font-size: 1em;
}
.busca-geral-menu {
	width:100%;
	background-color: @cor-fundo;
	border:0px solid transparent;
	padding:0.3em 1em 0.4em;
}
nav.menu-top {
	background-color: @cor-bg-painel;
	border-color: @cor-bg-body;
	min-height: 52px;

	.menu-principal {
		padding:0.9em;
		ul {
			padding:0.3em;
			font-size: 1em;
			li {
				text-transform: uppercase;
				a {
					color: @cor-menu-superior;
					padding: 0;
					&:hover, &:active {
						color: @cor-menu-superior-hover;
					}
				}
			}
		}
		}

	.menu-usuario {
		ul {
			float: right;
			text-transform: capitalize;
			li {
				a {
					padding: 0px;
					img {
						margin: 0.2em 1em 0 1em;
						width: 3em;
						border-radius: 50%;
					}
					span {
						line-height: 2em;
					}
				}
				ul.dropdown-menu {
					min-width: 10em;
					text-align: right;
					padding: 1em 0.1em;
					li {
						padding: 0.1em 1em;
					}
				}
			}
		}
	}
}
