.icon36 {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0.5em 2em 0.5em 0;
	margin:0;
}

.icon-viajar {
	background-image: url('/img/viajaricon.png');
	margin-right: 0.2em;
}
.icon-conectar {
	background-image: url('/img/conectaricon.png');
	margin-right: 0.1em;
}
.icon-cuidar {
	background-image: url('/img/cuidaricon.png');
}
.menu-viajar,
.menu-cuidar {
	width:30%;
}
.menu-conectar {
	width:40%;
}

a.logo {
	padding: 0px;
	width:100%;
	img {
		margin:0 auto;
		height:100%;
	}
}
.hello {
	padding-top: 1.2em;
	font-size: 1em;
}
.busca-geral-menu {
	width:100%;
	background-color: @cor-fundo;
	border:0px solid transparent;
	padding:0.3em 1em 0.4em;
}
nav.menu-top {
	background-color: @cor-bg-painel;
	border-color: @cor-bg-body;
	min-height: 52px;

	.menu-principal {
		padding:0.9em;
		ul {
			padding:0.3em;
			font-size: 1em;
			li {
				text-transform: uppercase;
				a {
					color: @cor-menu-superior;
					padding: 0;
					&:hover, &:active {
						color: @cor-menu-superior-hover;
					}
				}
			}
		}
		}

	.menu-usuario {
            ul {
                float: right;
                text-transform: capitalize;
                li {
                    a {
                        padding: 0px;
                        img {
                                margin: 0.2em 1em 0 1em;
                                width: 3em;
                                border-radius: 50%;
                        }
                        span {
                                line-height: 2em;
                        }
                    }
                    ul.submenu {
                        min-width: 20em;
                        text-align: left;
                        padding: 1em 0.1em;
                        background-color: @cor-pele-zumbi;
                        position: absolute;
                        top: 110%;
                        left: -12em;


                        // subdivisão do menu
                        li.subsubmenu {
                            float:left;
                            margin:0.5em 4%;
                            text-align:left;
                            padding:0.5em 0;
                            width:92%;
                            ul {
                                padding:0;
                                width:100%;
                                margin:0;
                                li {
                                    list-style:none;
                                    padding:0;
                                    margin:0;
                                }
                            }

                            border-top: 1px solid white;
                            &:last-child {
                                border-bottom: 1px solid white;
                            }
                        }
                        li {
                            padding: 0.1em 1em;
                            color: white;
                            a {
                                color:white;
                            }
                        }
                    }
                }
            }
	}
}

nav.header {
    div {
        float:left;
    }
}
div.logo-menu {
    width:10%;
}
div.menu-principal {
    width:60%;
}
div.menu-usuario {
    width: 14%;
}
div.notificacoes {
    width: 15%;
    position: relative;
    button {        
        max-width:33%;
        border: 0px solid transparent;
        background-color: white;
        position: relative;
        margin: 1rem 0;
        &[data-unread="0"] {  
            &:before {
                display:none;
                content: attr(data-unread);
                position:absolute;
                top:0px;
                right:0px;
                color: white;
                background: @cor-primaria;
                padding:0rem 0.3rem 0rem;
                .font-bold-upper();
            }

        }
        img {
            max-width:100%;
        }
        &:before {
            content: attr(data-unread);
            position:absolute;
            top:0px;
            right:0px;
            color: white;
            background: @cor-primaria;
            padding:0rem 0.3rem 0rem;
            .font-bold-upper();
        }
        + div {
            position: absolute;
            top:100%;
            right: 0;
            min-width:29em;
            max-height: 0vh;
            background-color: white;
            z-index:10;
            overflow:hidden;
            opacity: 0;
           transition: 0.5s max-height ease,
                       0.5s opacity linear;
        }
        &:focus + div {
           max-height: 30vh;
           opacity: 1;
            overflow-y:scroll;
        }
    }
}


