@import "../bower/bootstrap/less/bootstrap";
@import "coresefontes";
@import "utilitarios";
@import "elementos";

/* Classes css */
body {
	background-color: @cor-bg-body;
	font-size: @font-size-rem*0.9;
	font-family: @font-family-sans-serif;
	font-weight: normal;
}

@import "header";
@import "menu";
@import "sugestoes";
@import "redesocial/criapost";
@import "redesocial/feed";
@import "redesocial/post";
