@import "../bower/bootstrap/less/bootstrap";
@import "coresefontes";
@import "utilitarios";
@import "elementos";

/* Classes css */
body {
	background-color: @cor-bg-body;
	font-size: @font-size-rem*0.9;
	font-family: @font-family-sans-serif;
	font-weight: normal;
}
.foto-avatar,
img.foto-avatar {
	max-width: 100%;
	border-radius: 50%;
}

// Menu de navegação lateral (da esquerda)
nav.menu-lateral {
	font-family: @font-family-sans-serif-bold;
	line-height: 3.5em;
	ul {
		list-style: none;
		margin: 0px;
		padding-top: 1em;
		padding-left: 1.6em;
		display: inline-block;
		li {
			display: block;
			float:left;
			width:100%;
			text-align: left;
			text-transform: uppercase;
			a {
				text-decoration: none;
				color: @cor-menu-lateral;
				transition: @anima-rapido;
				&:hover {
					color: @cor-menu-lateral-hover;
				}
				i {
					color: @cor-menu-lateral-hover;
					padding-right: 0.6em;
					font-size: 1.2em;
					padding-top: 0.1em;
				}
			}
		}
	}
}

// Classe para imagem de background
div.foto-fundo {
	background-size: cover;
	background-position: center center;
	text-align: center;
	color: @cor-foto-fundo-txt;
}

// Imagem de topo que contém um título, um subtítulo e um botão de "como funciona"
.foto-header {
	width:100%;
	height: 25em;
	h2, h3 {
		text-shadow: 0em 0em 0.2em black;
		display: block;
	}
	h2 {
		padding-top: 3em;
		font-size: 3em;
		margin-top: 0;
	}
	h3 {
		font-size: 1em;
	}
	div {
		margin: 2em auto;
	}
}

// Links que são uma imagem de fundo com texto centralizado
.foto-link{
	overflow: hidden;
	a {
		transition: color 0.2s ease;
		text-decoration: none;
		position: relative;
		display: block;
		color: @cor-foto-fundo-txt;
		h4 {
			font-size: 2em;
			font-family: @font-family-sans-serif-bold;
			padding: 4em 0;
			margin: 0;
		}
		> .cover {
			transition: all 1s ease;
			img {
				transition: all 1s ease;
			}
			// Seta como preto pra que quando a opacidade da imagem diminuir parecer que escurece
			background-color: black;
		}
		&:hover {
			//color: @cor-txt-link-hover;
			// zoom na imagem (aumentando a porcentagem do div container)
			> .cover {
				width:300%;
				height:300%;
				top: -100%;
				left: -100%;
				img {
					opacity: 0.5;
				}
			}
		}
	}
}

// Subtitulo
h3.subtitulo {
	text-transform: uppercase;
	color: @cor-txt;
	font-family: @font-family-sans-serif-bold;
}

// Comentario dentro do link com foto
.foto-comentario {
	width: 94%;
	margin: 3%;
	height: 6em;
	position:absolute;
	top:0px;
	color: @cor-foto-comentario-txt;
	background-color: rgba(255,255,255,0.5);
	.foto {
		width: 5em;
		height: 5em;
		position: relative;
		margin: .5em auto;
		.cover {
			// Reseta o z-index pra 0 (nos links grandes fica como -1)
			z-index: 0;
		}
	}
}

// Menu lateral de sugestões
ul.sugestoes {
	padding:1em 0px 2em;
	margin:0px;
	list-style: none;
	text-align: center;
	li {
		position: relative;
		padding: 0px 0px 2em;
		a {
			div { /* Remove o padding das class col-* do bootstrap */
				padding:0px;
			}
			text-decoration: none;
			color: @cor-sugestao-titulo-txt;
			.foto {
				width: 7em;
				height: 7em;
				position: relative;
				margin: 0 auto;
				.cover {
					// Reseta o z-index pra 0 (nos links grandes fica como -1)
					z-index: 0;
				}
			}
			strong {
				font-family: @font-family-sans-serif-bold;
				text-transform: uppercase;
			}
			i {
				color: @cor-primaria;
				padding-right: 0.2em;
			}
		}
	}
}
ul.sugestoes-empresas {
	button {
		border: 0px solid transparent;
		background-color: @cor-sugestao-botao-bg;
		color: @cor-sugestao-botao-txt;
		text-transform: uppercase;
		font-family: @font-family-sans-serif-bold;
		padding: 0.35em 0.5em;
		position: absolute;
		right:0px;
		top: 0.7em;
		z-index: 1; // Coloca o botão por cima
		&.suave {
			.suave();	// Sobrescreve o bg de cima, pra evitar !important
			padding: 0.35em 0.5em;
		}

	}
}
ul.sugestoes-viajantes,
ul.sugestoes-ongs {
	button {
		border: 0px solid transparent;
		background-color: @cor-sugestao-botao-bg;
		color: @cor-sugestao-botao-txt;
		text-transform: uppercase;
		font-family: @font-family-sans-serif-bold;
		padding: 0.35em 0.5em;
		position: absolute;
		right:0px;
		top: 0.7em;
		z-index: 1; // Coloca o botão por cima
		&.suave {
			.suave();	// Sobrescreve o bg de cima, pra evitar !important
			padding: 0.35em 0.5em;
		}
	}
}
ul.sugestoes-pacotes,
ul.viagens-comentadas {
	button {
		font-size: 10px;
	}
}

a.logo {
	padding: 0px;
	width:100%;
	img {
		margin:0 auto;
		height:100%;
	}
}
.hello {
	padding-top: 1.2em;
	font-size: 1em;
}
.busca-geral-menu {
	width:100%;
	background-color: @cor-fundo;
	border:0px solid transparent;
	padding:0.3em 1em 0.4em;
}
nav.menu-top {
	background-color: @cor-bg-painel;
	border-color: @cor-bg-body;
	min-height: 52px;

	.menu-principal {
		padding:0.9em;
		ul {
			padding:0.3em;
			font-size: 1em;
			li {
				text-transform: uppercase;
				a {
					color: @cor-menu-superior;
					padding: 0;
					&:hover, &:active {
						color: @cor-menu-superior-hover;
					}
				}
			}
		}
		}

	.menu-usuario {
		float: right;
		padding: 0px 10px 0px 0px;
		width: 12%;
		ul {
			float: right;
			text-transform: capitalize;
			li {
				a {
					padding: 0px;
					img {
						margin: 0.2em 1em 0 1em;
						width: 3em;
						border-radius: 50%;
					}
					span {
						line-height: 2em;
					}
				}
				ul.dropdown-menu {
					min-width: 10em;
					text-align: right;
					padding: 1em 0.1em;
					li {
						padding: 0.1em 1em;
					}
				}
			}
		}
		}
}

.perfil-topo {
	background-color: #333131;
	color:white;
	padding: 1em 0;
	h1 {
		text-transform: uppercase;
		padding:0;
		margin:0;
	}
	ul {
		padding: 0.5em;
		list-style: none;
		border: 1px solid white;
		display: block;
		overflow:hidden;
		margin-top: 5em;
		li {
			display: inline-block;
			float: left;
			height: 2em;
			text-align: center;
			+li{
				border-left: 1px solid white;
			}
		}
	}
}


ul.lista-usuarios {
	li.foto-user {
		img {
			.foto-avatar()
		}
	}
}


/* Rede Social */

//Criação de post
.cria-post-container {
	padding:15px;
	.tipo-post-criar li {
		height: 1em;
		line-height: 1em;
	}
	textarea {
		width:100%;
		height: 5em;
		padding: 1em;
	}
}
#progress-photo-upload .bar {
	height: 18px;
    background: @cor-primaria;
}
.adicionar-foto-container {
	display: none;
}

// feed
.lista-posts {
	list-style: none;
	padding: 0px;
}
.lista-posts article {
	position: relative;

	.principal {
		background-color: white;
		margin-top: 2rem;
		padding: 1em;
	}
}
.hora-post {
	position:absolute;
	right:1em;
	top:1em;
	/*
	text-shadow: 0px 0px 2px white;
	color:black;*/
}

article.status .status {
	margin-top:3rem;
	font-size: 1.4em;
	font-weight: lighter;
}
article.foto {
	.foto-fundo {
		min-height:33rem;
	}
}
.post .like-btn {
	cursor: pointer;
	i {
		color: @cor-primaria;
	}
	&.liked + span {
		color: @cor-primaria;
	}
}

.barra-post {
	padding: 0.2em 0;
}
.box-post {
	margin-top: 0.2rem;
	> div {
		margin-top:0.2rem;
		min-height: 20rem;
		padding:1rem;
		&:first-child {
			border-right:0.2rem solid  @cor-fundo;
			margin-right: 0;
		};
		&:last-child {
			border-left:0.2rem solid   @cor-fundo;
			margin-right: -0.2rem;
		};
	}
}
