#clickbus-resultado-busca {
    .nav-tabs {
        li {
            &>a {
                font-size: 0.9em;
                width: 8.2em;
                padding: 0.5em 0.8em;
                text-align: center;
                background-color: @cor-fundo;
                color: @cor-cinza-escuro;
                border: none;
                border-radius: 0;
                margin-right: 5px;
            }
            &.active>a {
                background-color: @cor-pele-zumbi;
                color: white;
            }
        }
    }

    .passagens-clickbus{
        border: 1px solid @cor-cinza-escuro;
        > div:nth-child(odd) .passagem {
            background-color:@cor-fundo;
        }
    }

    .poltronas-clickbus{
        border: 1px solid @cor-cinza-escuro;
        
        .onibus {
            position:relative;
            border: 1px solid @cor-cinza-escuro;
            height: 17em;
            width: 90%;
            padding:1em;
            .poltrona {
                width:6%;
                background-color:@cor-pele-zumbi;
                position:absolute;
                &.desativado {
                    background-color:@cor-cinza-escuro;
                    label { 
                        cursor: default;
                    }
                }
                label {
                    padding: 0.4em;
                    color:white;
                    font-family: @font-family-sans-serif;                
                    font-weight: bold;
                    margin-bottom: 0px;
                    cursor: pointer;
                    input {
                        display:none;
                    }

                }
            }
        }
    }

    #descricao-origem-destino {
        background-color: @cor-pele-zumbi;
        color: white;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-family: @font-family-sans-serif;
    }
    .company-logo {
        background-size: contain;
        background-position:center center;
        background-repeat: no-repeat;
        height:5em;
    }
    .departure, .arrival {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .departure {
        border-bottom: 1px solid @cor-fundo;
    }
}
