#clickbus-resultado-busca {
    .nav-tabs {
        li {
            &>a {
                font-size: 0.9em;
                width: 8.2em;
                padding: 0.5em 0.8em;
                text-align: center;
                background-color: @cor-fundo;
                color: @cor-cinza-escuro;
                border: none;
                border-radius: 0;
                margin-right: 5px;
            }
            &.active>a {
                background-color: @cor-pele-zumbi;
                color: white;
            }
        }
    }
    #descricao-origem-destino {
        background-color: @cor-pele-zumbi;
        color: white;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-family: @font-family-sans-serif;
    }
}