#clickbus-resultado-busca {
    .nav-tabs {
        li {
            &>a {
                font-size: 0.9em;
                width: 8.2em;
                padding: 0.5em 0.8em;
                text-align: center;
                background-color: @cor-fundo;
                color: @cor-cinza-escuro;
                border: none;
                border-radius: 0;
                margin-right: 5px;
            }
            &.active>a {
                background-color: @cor-pele-zumbi;
                color: white;
            }
        }
    }

    .passagens-clickbus{
        border: 1px solid @cor-cinza-escuro;
        > div:nth-child(odd) .passagem {
            background-color:@cor-fundo;
        }
        .passagem {
            height: 100px;
            // Detalhes para reorganização do layou
            .company-logo {
                width: 20%;
                padding-left:15px;
                position: relative;
                float:left;
            }
            .detalhes {
                width: 60%;
                padding:15px;
                position: relative;
                float:left;
            }
            .valor-compra {
                width: 20%;
                position: relative;
                float:left;
            }
        }
    }

    .ida {
        padding:1em;
    }
    .poltronas-clickbus{
        border: 1px solid @cor-fundo;

        .onibus {
            position:relative;
            border: 1px solid @cor-cinza-escuro;
            height: 17em;
            width: 100%;
            border-top-left-radius: 2em 50%;
            border-bottom-left-radius: 2em 50%;
            padding:1em;
            &::after{
                content:'';
                position:absolute;
                width:6%;
                height:2em;
                bottom:2.4em;
                left: 2.8em;
                background-color:@cor-fundo;
            }
            &::before{
                content:'';
                position:absolute;
                width:2em;
                height:4em;
                bottom:1.3em;
                left: 1.4em;
                border: 4px solid @cor-fundo;
                border-radius: 50%
            }
        }
        .poltrona {
            width:6%;
            background-color:@cor-pele-zumbi;
            position:absolute;
            &.selecionada {
                background-color:@cor-primaria;
            }
            &.desativado {
                background-color:@cor-cinza-escuro;
                label {
                    cursor: default;
                }
            }
            label {
                padding: 0.4em;
                color:white;
                font-family: @font-family-sans-serif;
                font-weight: bold;
                margin-bottom: 0px;
                cursor: pointer;
                width:100%;
                text-align:center;
                input {
                    display:none;
                }

            }
        }
        .legenda {
            width: 2em;
            height: 2em;
            border: 0px solid @cor-cinza-escuro;
            background-color: @cor-pele-zumbi;
            display:inline-block;
            margin-top:0.5em;
            margin-bottom:-0.5em;
            &.selecionada {
                background-color: @cor-primaria;
            }
            &.desativado {
                background-color: @cor-cinza-escuro;
            }

        }
    }

    #descricao-origem-destino {
        background-color: @cor-pele-zumbi;
        color: white;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-family: @font-family-sans-serif;
    }
    .company-logo {
        height:100%;
        .company-logo-img{
            height:100%;
            background-size: contain;
            background-position:center center;
            background-repeat: no-repeat;
        }
    }
    .departure, .arrival {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .departure {
        border-bottom: 1px solid #555555;
    }
    input[type="text"],
    input[type="email"],
    select,
    textarea,
    form input[type="text"] {
        &.form-control{
            color:black;
            &::-webkit-input-placeholder {
                color: grey;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: grey;
            }
            &::-moz-placeholder {  /* Firefox 19+ */
                color: grey;
            }
            &:-ms-input-placeholder {
                color: grey;
            }
        }
    }
    .radio-hidden {
        label {
            border: 2px solid transparent;
            transition: all 0.3s ease;
        }
        label:hover {
            border: 2px solid @cor-fundo;
        }
        input[type="radio"]:checked + label {
            border: 2px solid @cor-primaria;
        }
    }
}

.detalhes-pagamento {
    border: 1px solid @cor-fundo;
    min-height: 20em;
    .passagem {
        h5 {
            margin-bottom:0px;
            border-top:1px solid @cor-fundo;
            padding-top:1em;
        }
    }
    .valor-pagamento {

        background-color: @cor-pele-zumbi;
        color:white;
        text-align:right;
        .valor {
            font-size:2em;
        }
    }

}

.poltrona-externa {
    width: 2em;
    height: 2em;
    padding: 0.4em;
    background-color: @cor-pele-zumbi;
    display:inline-block;
    margin-top:0.5em;
    margin-bottom:-0.5em;
    color:white;
    font-family: @font-family-sans-serif;
    font-weight: bold;
    &.selecionada {
        background-color: @cor-primaria;
    }
    &.desativado {
        background-color: @cor-cinza-escuro;
    }

}

.poltrona-container {
    margin-top: 1em;
    border-top: 1px solid @cor-fundo;
}

.exclui-poltrona {
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover {
        color: @cor-primaria;
    }
}

div.places-list {
    &>a.autocomplete-rodoviario.list-focus {
        background-color: #F5F5F5;
    }
}

#modal-poltrona-ida{
    #validacao-poltrona-ida{
        .modal-body{
                input #name{
                    font-family: "FuturaBT-Bold","Open Sans",Helvetica,Arial,sans-serif;
                    text-transform: uppercase;
                    border-radius: 0px;
                    border: 1px solid #E2E2E2;
                }
        }
    }
}
