.left-panel, .right-panel {
	background-color: @cor-bg-painel;
	padding: 1.5em;
}
.btn-primario {
	background-color: @cor-bg-suave;
	color: @cor-txt-suave;
}
.btn-acao {
	background-color: @cor-bg-btn;
	color: @cor-txt-btn;
	&:hover{
		background-color: @cor-btn-acao-hover;
		color: @cor-txt-btn;
	};
}
.sem-resize {
    resize: none;
}
strong {
	font-family: @font-family-sans-serif-bold;
	font-weight: normal;
}

// Sobrescrevendo a cor dos link
a {
    text-decoration:none;
    color: @cor-txt;
    &:hover {
        text-decoration:none;
        color: @cor-txt;
    }
}
// Sobrescrevendo os campos de formulário

label {
	font-weight: normal;
	font-family: @font-family-sans-serif-bold;
}
input,
input.form-control ,
textarea,
textarea.form-control,
form input {
    border-radius: 0px;
    text-align: left;
    border: 1px solid @cord-fundo;
}   
button.btn,
input.btn,
a.btn {
	border-radius: 0px;
	font-family: @font-family-sans-serif-bold;
	text-transform:uppercase;
        background-color: @cor-primaria;
        color:white;
}
select {
    width: 100%;
    border-radius:0px;
    border: 1px solid #CCC;
    padding:0.2em 0.5em 0.4em;
}
textarea {
	border: 1px solid @cor-fundo;
        border-radius: 0px;
}
// Define o titulo usados nas sidebars
h4.suave {
	.suave();
}
// Define os botões que vão seguir o mesmo esquema de cor
button.suave {
	padding: 0.2em 0.5em;
	cursor: pointer;
}
a.suave {
	padding: 0.2em 1em;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: @cor-txt-suave-hover;
	}
}

.lista-intervalo-preto {
	a {
		color: black;
	}
}

// Define uma classe pra input de arquivo
// onde aparece só o botão, sem o campo com o nome/caminho do arquivo
.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
	label {
		text-transform: uppercase;
		p {
			text-transform: none;
			font-family:@font-family-sans-serif;
		}
	}
	input.upload {
	    position: absolute;
	    top: 0;
	    right: 0;
	    margin: 0;
	    padding: 0;
	    font-size: 20px;
	    cursor: pointer;
	    opacity: 0;
	    filter: alpha(opacity=0);
	}
}

// Limita o tamanho do preview da foto, pra nao passar o elemento pai em largura
.foto-preview {
	max-width:100%;
	max-height: 70vh;
}
// Centraliza os previews de foto
.jcrop-holder {
	margin:0 auto;
}
