#experiencia div.cor-laranja {
    color: @cor-primaria;
    input {
        border-color: @cor-primaria;
    }
}
span.data-inscrito {
    color:@verde-sucesso;
}
ul.lista-exp-desktop {
    padding:0;
    padding-bottom:1em;
    margin:0;
    .foto {
        height:12em;
        overflow:hidden;
        .foto-img {
            height:100%;
            width:100%;
            background-position:center center;
            background-repeat: no-repeat;
            background-size:cover;
        }
        .descricao {
            height:100%;
            width:100%;
            position:absolute;
            top:100%;
            left:0;
            transition:top 0.3s ease;
            .ajuste-fonte-avenir-light;
            background: rgba(0,0,0,.7);
            color:white;
            line-height:120%;
            font-size:1.2em;
            text-align:center;
            padding:3.5em 0.3em 0 0.3em;
        }
        &:hover {
           .descricao {
                top:0;
           }
        }
        .categorias-experiencia {
            width: 4rem;
            height: 100%;
            background-color: rgba(0,0,0,0.2);
            .icone {
                color:white;
                font-size:1.2em;
                width:3rem;
                height:3rem;
                padding-top:0.25em;
                display: inline-block;
                text-align:center;
                border-radius:2em;
                background-color:transparent;
                border:1px solid white;
                margin:0.4em 0 0 0.4em;
                float:left;
            }
        }
    }
    .nome-listagem{
      .ajuste-fonte-futura-bold;
      font-size: 1.8rem;
      color: @cor-cinza-escuro;
      margin 0 auto;
    }
    .descricao-listagem-titulo-preco{
      .ajuste-fonte-futura-bold;
      font-size: 1.4rem;
      color: @cor-cinza-escuro;
    }
    .descricao-listagem-titulo-pago{
      .ajuste-fonte-futura-bold;
      font-size: 1.4rem;
      color: @verde-sucesso;
    }
    .descricao-listagem-lugar{
      .ajuste-fonte-futura-bold;
      font-size: 1.4rem;
      i {
          font-size:1.2rem;
      }
      color: @cor-cinza-escuro;
    }
}
#experiencia {
  font-size:1.8em;
  .ajuste-fonte-avenir-roman;
  .foto-img-desktop {
      width:100%;
      height:30rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size:cover;
      .categorias-experiencia {
          width: 3em;
          height: 100%;
          .icone {
              color:white;
              font-size:1.2rem;
              width:3rem;
              height:3rem;
              padding-top:0.4em;
              display: inline-block;
              text-align:center;
              border-radius:2em;
              background-color:transparent;
              border:1px solid white;
              margin:0.4em 0 0 0.4em;
              float:left;
          }
      }

  }
  .foto-img-interna-desktop {
    width:100%;
    height:30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    .preco-interna-desktop{
        .ajuste-fonte-avenir-black;
        position: absolute;
        font-size: 1.7rem;
        right: -14%;
        top: 5%;
        color: white;
        background-color: #F16F2B;
        padding: 0.2em 1.2em 0.1em;
    }
    .categorias-interna-desktop {
      width: 4rem;
      height: 100%;
      .icone {
        color:white;
        font-size:1.2rem;
        width:3rem;
        height:3rem;
        padding-top:0.4em;
        display: inline-block;
        text-align:center;
        border-radius:2em;
        background-color:transparent;
        border:1px solid white;
        margin:0.4em 0 .5em 0.4em;
        float:left;
      }
    }
  }
  .infos-basicas-interna-desktop{
    padding-top: 14%;
  }
  .local-big {
      font-size:1.5em;
  }
  .owner-adesivo {
      display: inline-block;
      width:10em;
      background-color:#EDF0F0;
      border-radius:1em;
      text-align:center;
      overflow: hidden;
      img {
          max-width:100%;
      }
  }
  .icone-calendario,
  .icone-local{
    width: 3rem;
    text-align:center;
    float:left;
  }
  .icone-informacoes {
      margin-left:15px;
      margin-right:5px;
      float:left;
  }
  .descricao-informacoes {
      text-transform: uppercase;
  }
  .ajuda-data{
    font-size: 1.4rem;
  }
  .calendario-row {
      color: #8ba5ac;
      input {
          width:12em;
          display: inline-block;
          float:left;
          border: 1px solid  #8ba5ac;
          cursor:pointer;
          font-size: 1.5rem;
          color: inherit;
          height: 1.9em;
          margin-top: 0.1em;
          margin-left: 0.5rem;
          padding: 0.4rem 1rem;
      }
      &.selecionado {
          color: @cor-primaria;
          input {
              border: 1px solid @cor-primaria;
          }
      }
  }

  .instituicao-nome{
      font-size: 1.5rem;
      .ajuste-fonte-avenir-roman;
      color: @cor-cinza-escuro;
      padding-bottom:0;
      margin-bottom: 0;
      padding-top: 0.5rem;
  }
  .descricao-experiencia,
  .informacoes-experiencia,
  .mais-detalhes-experiencia {
      font-size: 1.8rem;

  }
  .informacao-experiencia {
    margin-bottom: 0.5em;
  }

  .sub-titulo-experiencia {
      .ajuste-fonte-futura-bold;
      font-size: 2rem;
      margin-bottom: 1.5rem;
  }

  .fundo-instituicao{
    background-color: @cor-fundo;
    padding: 15px 0px;
    border-radius: 1em;
    .instituicao-secao-infos{
      .instituicao-secao-fotos{
        text-decoration: none;
      }
      .instituicao-secao-rede-social{
        .instituicao-rede-social{
          text-decoration: none;
          .instituicao-rede-social-fundo{
            color: @cor-cinza-claro;
          }
          .instituicao-rede-social-icone{
            color: @cor-branco;
          }
        }
      }
    }
    .instituicao-secao-texto{
        border-left: 1px solid #BBBDBF;
      .instituicao-descricao{
        height: 100%;
        p{
          font-size: 1.8rem;
          padding-top: 0rem;
          text-align: justify;
        }
      }
    }

  }
  .btn-inscrever-desktop{
      width:71%;
      margin: 0 14.5%;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 2.4rem;
    .ajuste-fonte-avenir-black;
  }
  .btn-cancelar-desktop{
    padding: 10px 15%;
    text-decoration: none;
  }
  .round-icone {
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      line-height: 2.7rem;
      vertical-align: middle;
      background-color: #BBBDBF;
      border-radius: 100%;
      font-size: 1.5rem;
      &.icone-instagram {
        line-height: 2.6rem;
      }
  }
  .adesivo-instituicao {
    width:70%;
    margin: 0 15%;
    img {
        max-width:60%;
        margin: 0 20%;
    }
  }
}
.checkout-exp {
  .texto-titulo-checkout{
    font-size:3rem;
  }
  .texto-subtitulo-checkout{
    font-size:2rem;
  }
  .texto-descricao-checkout{
    font-size:1.6rem;
  }
  .fa-checkout-stack{
    width: 8em;
    height: 8em;
    line-height: 8em;
    .fa-checkout-borda{
      font-size: 8em;
    }
    .fa-checkout-icone{
      font-size: 4em;
    }
  }
  .btn-gerar-boleto {
      background-color:white;
      border: 1px solid fade(@verde-sucesso,50);
      color: @verde-sucesso;
      text-transform: uppercase;
      display:inline-block;
      padding: 4px 14px;
      i {
          color:@verde-sucesso;
          font-size:6rem;
          position:relative;
          float:left;
      }
      span {
          position:relative;
          float:left;
          padding-left: .5em;
          padding-top: .2em;
          text-align:left;
      }
  }
  .dados-bancarios {
      display:inline-block;
      width:28em;
      background-color:@cor-fundo;
      padding:1em 0.2em;
  }
}
.fonte-rem {
    font-size:@font-size-rem;
}
