ul.lista-exp-desktop {
    padding:0;
    padding-bottom:1em;
    margin:0;
    .foto {
        height:12em;
        overflow:hidden;
        .foto-img {
            height:100%;
            width:100%;
            background-position:center center;
            background-repeat: no-repeat;
            background-size:cover;
        }
        .descricao {
            height:100%;
            width:100%;
            position:absolute;
            top:100%;
            left:0;
            transition:top 0.3s ease;
            .ajuste-fonte-avenir-light;
            background: rgba(255,168,61,.7);
            background: -moz-linear-gradient(left, rgba(255,168,61,.8) 0%, rgba(241,104,30,0.78) 25%, rgba(241,104,30,0.65) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,168,61,.8)), color-stop(25%, rgba(241,104,30,0.78)), color-stop(100%, rgba(241,104,30,0.65)));
            background: -webkit-linear-gradient(left, rgba(255,168,61,.8) 0%, rgba(241,104,30,0.78) 25%, rgba(241,104,30,0.65) 100%);
            background: -o-linear-gradient(left, rgba(255,168,61,.8) 0%, rgba(241,104,30,0.78) 25%, rgba(241,104,30,0.65) 100%);
            background: -ms-linear-gradient(left, rgba(255,168,61,.8) 0%, rgba(241,104,30,0.78) 25%, rgba(241,104,30,0.65) 100%);
            background: linear-gradient(to right, rgba(255,168,61,.8) 0%, rgba(241,104,30,0.78) 25%, rgba(241,104,30,0.65) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa83d', endColorstr='#f1681e', GradientType=1 );
            color:white;
            line-height:120%;
            font-size:1.2em;
            text-align:center;
            padding:3.5em 0.3em 0 0.3em;
        }
        &:hover {
           .descricao {
                top:0;
           }
        }
        .categorias-experiencia {
            width: 4rem;
            height: 100%;
            background-color: rgba(0,0,0,0.2);
            .icone {
                color:white;
                font-size:1.2em;
                width:3rem;
                height:3rem;
                padding-top:0.25em;
                display: inline-block;
                text-align:center;
                border-radius:2em;
                background-color:transparent;
                border:1px solid white;
                margin:0.4em 0 0 0.4em;
                float:left;
            }
        }
    }
    .descricao-listagem-titulo-preco{
      .ajuste-fonte-avenir-black;
      font-size: 1.4rem;
      color: @cor-cinza-escuro;
    }
    .descricao-listagem-titulo-pago{
      .ajuste-fonte-avenir-black;
      font-size: 1.4rem;
      color: @verde-sucesso;
    }
    .descricao-listagem-lugar{
      .ajuste-fonte-avenir-medium;
      font-size: 1.2rem;
      color: @cor-cinza-claro;
    }
}
#experiencia {
  font-size:1.8em;
  .foto-img-desktop {
      width:100%;
      height:30rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size:cover;
      .categorias-experiencia {
          width: 3em;
          height: 100%;
          .icone {
              color:white;
              font-size:1.2rem;
              width:3rem;
              height:3rem;
              padding-top:0.4em;
              display: inline-block;
              text-align:center;
              border-radius:2em;
              background-color:transparent;
              border:1px solid white;
              margin:0.4em 0 0 0.4em;
              float:left;
          }
      }

  }
  .foto-img-interna-desktop {
    width:100%;
    height:30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    .categorias-experiencia {
      width: 4rem;
      height: 100%;
      float: left;
      background-color: rgba(0,0,0,0.1);
      .icone {
        color:white;
        font-size:1.2rem;
        width:3rem;
        height:3rem;
        padding-top:0.4em;
        display: inline-block;
        text-align:center;
        border-radius:2em;
        background-color:transparent;
        border:1px solid white;
        margin:0.4em 0 .5em 0.4em;
        float:left;
      }
    }
  }
  .local-big {
      font-size:1.5em;
  }
  .owner-adesivo {
      display: inline-block;
      width:10em;
      background-color:#EDF0F0;
      border-radius:1em;
      text-align:center;
      overflow: hidden;
      img {
          max-width:100%;
      }
  }
  .icone-informacoes {
      margin-left:15px;
      margin-right:5px;
      float:left;
  }
  .descricao-informacoes {
      text-transform: uppercase;
  }
  .clndr-picker {
      width:12em;
      display: inline-block;
      float:left;
      border: 1px solid @cor-primaria;
      cursor:pointer;
      font-size: 1.5rem;
      text-transform: uppercase;
      color: @cor-primaria;
      text-align:center;
  }
}
.checkout-exp {
    .btn-gerar-boleto {
        background-color:white;
        border: 1px solid fade(@verde-sucesso,50);
        color: @verde-sucesso;
        text-transform: uppercase;
        display:inline-block;
        padding: 4px 14px;
        i {
            color:@verde-sucesso;
            font-size:6rem;
            position:relative;
            float:left;
        }
        span {
            position:relative;
            float:left;
            padding-left: .5em;
            padding-top: .2em;
            text-align:left;
        }
    }
    .dados-bancarios {
        display:inline-block;
        width:28em;
        background-color:@cor-fundo;
        padding:1em 0.2em;
    }
}
.fonte-rem {
    font-size:@font-size-rem;
}
