.header-mobile {
    background-color:@cor-primaria;
    color:white;
    text-transform:uppercase;
}

.titulo-mobile {
    text-align:center;
    text-transform:uppercase;

}

.barra-bottom {
    position: fixed;
    bottom:0;
    height: 2em;
    background-color:rgba(0,0,0,0.7);
    width:100%;
    left:0;
}

ul.lista-foto-descricao {
    
    padding:0;
    margin:0;
    .foto {
        height:20em;
        background-position: center; 
        background-repeat: no-repeat;
        background-size:cover;
    }
    .descricao {
        height:20em;
        background-color: white;
        text-alig:center;
    }
}
