body.mobile {
    font-size: 16px;
    font-family:@font-family-avenir-roman;
    height:100%;
    color:@cor-cinza-escuro;
    small{
        font-size: 1.4rem;
    }
}

#mobile-html {
    height: 100%;
}

.conheca-vivala {
    position:fixed;
    width:96vw;
    height:96vh;
    @media screen and ( min-height: 550px ) {
        height: 84vh;
    }
    overflow-y: scroll;
    .container-logo {
        height:6rem;
        padding: 0.5em 0;
        img {
         height:100%;
        }
    }
    background-color:white;
    top:100%;
    box-shadow: 0px 0px 4vw black;
    left:2vw;
    opacity:0;
    transition: opacity 0.3s ease-out 0s, top 0.4s ease;
    &.ativo{
        top:2vh;
        @media screen and ( min-height: 550px ) {
            top:8vh;
        }
        opacity:1;
        transition: opacity 0.5s ease-out 0.2s, top 0.6s ease;
        z-index:99;
    }
}

.conteudo-mobile {
    background-color:white;
    text-align:center;
    padding:1rem;
    font-size:1.5rem;
    display:inline-block;
}

.btn-mobile {
    width:11em;
    border: 1px solid @cor-primaria;
    color: @cor-primaria;
    background-color: transparent;
    padding:0.2em;
    text-transform:uppercase;
    font-family:@font-family-avenir-black;
    display: inline-block;
    font-size: 1.1em;
    &:hover {
        color :@cor-primaria;
    }
}

.btn-face {
    color: white;
    &:hover {
        color :white;
    }
    background-color:#3B5998;
    border-color:#3B5998;
    span {
        color:white;
        font-size: 1.15em;
        padding-top: 0.1em;
        padding-right: 0.5em;
    }
}

.btn-verde {
    color: @verde-sucesso;
    &:hover {
        color :@verde-sucesso;
    }
    background-color:transparent;
    border-color:@verde-sucesso;
}

.btn-amarelo-aviso {
    margin-top: 2em;
    color: @amarelo-aviso;
    &:hover {
        color :@amarelo-aviso;
    }
    background-color:transparent;
    border-color:@amarelo-aviso;
}
.link-verde {
  border: none;
  color: @verde-sucesso;
  background-color: white;
  font-family:@font-family-avenir-black;
  display: inline-block;
  &:hover {
      color :white;
  }
}

.link-verde2 {
  width:11em;
  border: none;
  color: white;
  background-color: @verde-sucesso;
  padding:0.2em;
  font-family:@font-family-avenir-black;
  display: inline-block;
  font-size: 1em;
  &:hover {
      color :white;
  }
}

.fundo-laranja {
    background-color: @cor-primaria;
    min-height:100%;
}

form input.form-mobile {
    text-transform:uppercase;
    font-family:@font-family-avenir-black;
    border:none;
    background-color: @cor-fundo;
}

small.forgot-password {
    color:@cor-cinza-escuro;
    margin-top:0.3em;
    font-size:0.8rem;
    display:inline-block;
}

.form-mobile-error {
    position: relative;
    width:100%;
    /*top:10.2rem;*/
    left:0;
    padding:0.2em 0;
    text-align:center;
    font-family:@font-family-avenir-black;
    color:white;
    font-size:0.8em;
    text-transform:uppercase;
    background-color:#A32525;
    margin-bottom: 0.5rem;
}

.form-mobile-warning {
    font-family:@font-family-avenir-black;
    font-size:0.8rem;
    color:white;
    text-align:center;
    text-transform:uppercase;
    background-color:@cor-cinza-escuro;
    margin: 0 2%;
}

.form-mobile-warning2 {
    font-family:@font-family-avenir-black;
    font-size:0.8rem;
    color:white;
    text-align:center;
    text-transform:uppercase;
    background-color:@amarelo-aviso;
    margin: 0 2%;
}

.desativa-conheca {
    position: absolute;
    right:0;
    text-align:right;
    top:0;
    color:white;
    padding: 0.3em 0.7em 0em 0em;
    font-size: 2.5em;
    cursor:pointer;
    opacity:0.5s;
    transition: opacity 0.2s ease;
    &:hover {
        opacity:1;
        color:white;
    }
}

.concorda-com {
    font-size: 0.9em;
    .link-verde {
        color:@verde-sucesso;
    }
}

.header-mobile {
    background-color:@cor-primaria;
    color:white;
    text-transform:uppercase;
    fill: currentColor;
    font-family:@font-family-avenir-black;
    font-size:1.8rem;
    padding: 1em 0 0.6em 0;
    img {
        height:2em;
        margin-top:-0.4em;
    }
    a {
        color:white;
    }
    span {
        padding-top:0.2em;
    }
}

.titulo-mobile {
    text-align:center;
    text-transform:uppercase;
    font-size:2.3rem;
    font-family:@font-family-avenir-black;
}

.link-voltar {
    position:fixed;
    top:0.1em;
    left:0;
    padding:0.2em;
    font-size: 2em;
    color:white;
}

.barra-bottom {
    position: fixed;
    bottom:0;
    background-color:rgba(0,0,0,0.7);
    width:100%;
    left:0;
}

.icone-bottom {
    background-color:transparent;
    border:solid 0px transparent;
    text-align:center;
    width:3em;
    padding:0.5em;
    color:white;
    font-size:0.8em;
    i {
        font-size:3em;
    }
    span {
        width:100%;
    }
}

.btn-full-bottom {
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    color:white;
    text-align:center;
    font-family:@font-family-avenir-black;
    text-transform:uppercase;
    font-size:2rem;
    padding:0.5em;
    background-color:@verde-sucesso;
    transition:background-color 0.2s ease;
    &:hover{
        color: white;
        background-color:darken(@verde-sucesso,10%);
    }
}
.btn-cancelar-inscricao {
    font-size: 1.5rem;
    color:@vermelho-sangue;
    width: 100%;
    padding: 2em 0 0;
    text-align:center;
    text-transform:uppercase;
    &:hover{
        color: @vermelho-sangue;
    }
}
.btn-full-bottom-laranja {
    .btn-full-bottom;
    background-color: @amarelo-aviso;
    &:hover{
        background-color:darken(@amarelo-aviso,10%);
    }
}
ul.lista-foto-descricao {
    padding:0;
    margin:0;
    @espacamento: 0.1em;
    .esquerda {
        float:left;
        padding-left:@espacamento;
        padding-right:@espacamento/1.5;
        padding-top:@espacamento;
    }
    .direita {
        float:right;
        padding-right:@espacamento;
        padding-left:@espacamento/1.5;
        padding-top:@espacamento;
    }
    .foto {
        width:50%;
        height:50vw;
        .foto-img {
            height:100%;
            width:100%;
            background-position:center center;
            background-repeat: no-repeat;
            background-size:cover;
        }
        .nome-experiencia{
          position: relative;
          top: 75%;
          font-family:@font-family-avenir-black;
          color: white;
          text-align: center;
          font-size: .8em;
          width: 90%;
          margin: auto;
          text-shadow: -2px 2px 8px rgba(255, 255, 255, 0.75);
        }
    }
    .descricao {
        width:50%;
        height:50vw;
        line-height:160%;
        .container {
            height:100%;
            width:100%;
            padding-top:1.3em;
            background-color: white;
            text-align:center;
            padding-right: 6px;
            padding-left: 6px;
            font-size:1.5rem;
            span{
              color:@cor-cinza-escuro;
            }
        }

        .nome-experiencia{
            line-height: 120%;
            font-size: 1.1em;
            .ajuste-fonte-avenir-black;
            margin-bottom: 0.7em;
        }
    }
}

i.verde-sucesso { color: @verde-sucesso; }
.categorias-experiencia {
    width: 3em;
    height: 100%;
    .icone {
        color:white;
        font-size:1.5rem;
        width:3rem;
        height:3rem;
        padding-top:0.25em;
        display: inline-block;
        text-align:center;
        border-radius:2em;
        background-color:transparent;
        border:1px solid white;
        margin:0.4em 0 0 0.4em;
        float:left;
        span {
            position: absolute;
            left: 2em;
            padding-top: 0.5em;
        }
    }
}

.experiencia {
    .foto-experiencia {
        .foto-img {
            @tamanhofoto: 20rem;
            margin-left:-@tamanhofoto/2;
            left:50%;
            width:@tamanhofoto;
            height:@tamanhofoto;
            position:absolute;
            background-position: center;
            background-repeat: no-repeat;
            background-size:cover;
        }
    }
    .nome-experiencia{
      position: absolute;
      top: 5em;
    }
    .descricao {
        position: absolute;
        top:23.5rem;
        left:2%;
        width:96%;
        background-color:white;
        padding-top:14rem;
        padding-bottom:6em;
        font-size: 1.5rem;
        .informacoes i {
            font-size: 1.2em;
            vertical-align: middle;
        }
        .descricao-inicial {
            width:66%;
            display:block;
            float:left;
            padding:0;
            line-height:120%;
            padding-left:15px;
        }
        .owner {
            width:34%;
            float:left;
            padding:0 0.5em;
            .nome-owner {
                margin: 10px 0px;
                display: inline-block;
            }
        }
        .icone-informacoes {
            margin-left:15px;
            margin-right: 8px;
            float:left;
        }
        .descricao-informacoes {
            text-transform: none;
            padding-top: 2px;
            display: inline-block;
        }
    }
    .clndr-picker {
        width: 11.8em;
        display: inline-block;
        float:left;
        border: 1px solid @cor-primaria;
        cursor:pointer;
        font-size: 1.3rem;
        text-transform: uppercase;
        color: @cor-primaria;
        text-align:center;
        height: 2em;
        margin-top: -0.15em;
    }

    .preco-experiencia-mobile {
        margin-bottom: 3px;
    }
}

.negrito-exp {
    font-family:@font-family-avenir-black;
    font-size:1em;
    color:@cor-cinza-escuro;
    line-height:100%;
    &.cidade {
        margin-top:0.3em;
    }
}

h1.negrito-exp{
    font-size:2.2rem;
    margin:0;
    padding-top: 0.5em;
}

.bg-checkout {
    background-color:@verde-sucesso;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    .popup-checkout {
        z-index: -1;
        overflow-y: scroll;
        margin:4%;
        position:absolute;
        width:92%;
        height:100%;
        padding-bottom:3em;
        background-color:white;
        text-align:center;
        padding:2em 0 4em;
        .small {
            font-size:0.5em;
        }
        .dados-experiencia{
          font-size: 1.4rem;
        }
        .dados-bancarios {
            display:inline-block;
            width:22em;
            background-color:@cor-fundo;
            padding:0.2em 0.2em;
            font-size: 1.2rem;
        }
    }
    .btn-gerar-boleto {
        background-color:white;
        border: 1px solid fade(@verde-sucesso,50);
        color: @verde-sucesso;
        text-transform: uppercase;
        display:inline-block;
        padding: 4px 14px;
        i {
            color:@verde-sucesso;
            font-size:6rem;
            position:relative;
            float:left;
        }
        span {
            position:relative;
            float:left;
            padding-left: .5em;
            padding-top: .2em;
            text-align:left;
        }
    }
}

i.round-icon-bg {
    background-color:@verde-sucesso;
    color:white;
    border-radius:1em;
    width:1.4em;
    height:1.4em;
    padding-top:0.2em;
    text-align:center;
    font-size:5.5rem;
}

i.sqr-icon-bg {
    background-color:white;
    color:@verde-sucesso;
    border: 1px solid @verde-sucesso;
    border-radius:0em;
    width:1.4em;
    height:1em;
    padding:0 0.05em;
    text-align:center;
    font-size:4rem;
}

.separador {
    display:block;
    width:100%;
    float:left;
    text-align:center;
    margin-top:0.4em;
    margin-bottom:1em;
    &::after{
        display:inline-block;
        border-bottom:1px solid @cor-cinza-claro;
        width:15em;
        content:'';
    }
    span{
        color:@cor-cinza-escuro;
        background-color:white;
        display:block;
        white-space:pre;
        margin-top:0.2em;
        width:3em;
        left:50%;
        margin-left:-1.5em;
        position:absolute;
    }
}

i.x-preto {
    position: absolute;
    right:0;
    top:0;
    color:@cor-cinza-escuro;
    padding:0.2em;
    font-size:2.4em;
    cursor:pointer;
    transition: opacity 0.2s ease;
    &:hover {
        opacity:1;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-top:1em;
    margin-bottom:1em;
    width:100%;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height:0;
}

div.round-foto-small {
    img {
        border-radius:50%;
        max-width:5em;
    }
}

textarea.sem-upper {
 text-transform:none;
 }

 span.texto-conheca-vivala{
   font-size: 1.8rem;
   line-height:120%;
 }
