div.sobre-ong {
    margin-bottom: 1em;
}
ul.lista-ongs {
    list-style:none;

    li > div {
        height: 17em;
        overflow:hidden;
        margin-bottom:1em;
        a {
            display:block;
            border-top: 0.5em solid @cor-pele-zumbi;
            width:100%;
            height:100%;
            background-color: rgba(255,255,255,0.8);
            top:100%;
            position:relative;
            opacity:0;
            transition: 1s ease top, 1s ease opacity;
        }
        &:hover a{
            top:0;
            opacity:1;
        }
        h3 {
            margin: 10% auto;
            display:block;
            text-transformation: uppercase;
            padding: 2em;
            line-height:2em;
        }
    }
}
.prettyurl-input{
  border-radius: 0px;
  text-align: left;
  border: 1px solid #E2E2E2;
  width: 100%;
  height: 3.6rem;
  padding: 0.8rem 1rem;
  font-family: "FuturaBT-Bold","Open Sans",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
}
.pretty-url-no-border-l{
  border-left: none;
}
.pretty-url-no-border-r{
  border-right: none;
}
.pretty-url-padd-r{
  padding-right: 0;
}
.pretty-url-padd-l{
  padding-left: 0;
}
// Header do Form em create.blade
.form-ong-head{
  background-color: #FFF;

  h3{ font-family: @font-family-sans-serif-bold; color: @cor-txt; }
  h5{ font-family: @font-family-sans-serif; color: @cor-pele-zumbi; }

}
// Formulario de criação e edição de ongs/causas
.form-ong {
    input,
    input[type="text"],
    textarea,
    select {
        border: 1px solid black;
        border-radius: 0;
    }
    select {
        font-family: @font-family-sans-serif-bold;
        text-transform: uppercase;
    }
    h5 {
        color: @cor-pele-zumbi;
        padding:0 1em;
        margin:1em ;
        font-family: @font-family-sans-serif-bold;
        border-left: 1px solid @cor-pele-zumbi;
        text-transform: uppercase;
    }
    .label-url {
        position: absolute;
        top:0;
        left:0;
        border: 1px solid black;
        border-right: 0px;
    }
    input[type="radio"] + label {
        padding: 1em;
        background-color: white;
    }
    input[type="radio"]:checked + label {
        border: 2px solid @cor-primaria;
        padding: 0.2em;
    }
    .input-url-pretty {
      padding-left: 11.4em;
      color: @cor-primaria;
    }
    .label-url-pretty {
      width: 12.4em;
    }
    .label-url-facebook {
      width: 10em;
      color: @cor-cinza-escuro;
    }
    .input-url-facebook {
      padding-left: 9em;
      color: @cor-primaria;
    }
    .label-url-gplus {
      width: 12em;
      color: @cor-cinza-escuro;
    }
    .input-url-gplus {
      padding-left: 10.5em;
      color: @cor-primaria;
    }
    .label-url-insta {
      width: 10.4em;
      color: @cor-cinza-escuro;
    }
    .input-url-insta {
      padding-left: 9.4em;
      color: @cor-primaria;
    }
    // Placeholder coloridos | PS: é pseudoclasse e não pseudoelemento, usar na div externa ao input então
    .ph-cor-primaria {
      ::-webkit-input-placeholder { color: @cor-primaria; }
      :-moz-placeholder { color: @cor-primaria; }
      ::-moz-placeholder { color: @cor-primaria; }
      :-ms-input-placeholder { color: @cor-primaria; }
    }
    .ph-cor-cinza-escuro {
      ::-webkit-input-placeholder { color: @cor-cinza-escuro; }
      :-moz-placeholder { color: @cor-cinza-escuro; }
      ::-moz-placeholder { color: @cor-cinza-escuro; }
      :-ms-input-placeholder { color: @cor-cinza-escuro; }
    }
}

// Esconder input-image - usado na criação de ongs - CATEGORIAS DA ONU
.esconde-input {
  position: absolute;
  left: -9999px;
}
.selecionado {
  background-color: @cor-fundo;
}
