.pergunta {
	background-color: white;
	padding: 2em 5em 5em;
	text-align: center;
	h2 {
		font-family: @font-family-sans-serif-bold;
		font-size: 3rem;
		text-align: left;
		text-transform: uppercase;
	}
	h3 {
		text-align: left;
		font-family: @font-family-sans-serif;
		font-size: 1.8rem;
	}

	ul {
		padding: 1em 0 2em;
		margin:0;
		list-style: none;
		label {
			padding: 0.2em 0;
			text-transform: uppercase;
			color: @cor-cinza-escuro;
			span {
				top: -0.2em;
				position: relative;
			}
		}
		input[type="checkbox"] {
			border:1px solid @cor-cinza-escuro;
			height: 1em;
		}
	}

	::-webkit-input-placeholder {
	color: black;
	}

	:-moz-placeholder { /* Firefox 18- */
	color: black;
   opacity:  1;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	color: black;
   opacity:  1;
	}

	:-ms-input-placeholder {
	color: black;
	}

}
