/* Definição de tempo de efeitos */
@anima-rapido : 0.3s all ease-out;

// Simula um background-cover pra tag img
div.cover {
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	z-index: -1;
}
.cover img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	max-width: 100%;
	min-height: 50%;
	max-height: 100%;
	overflow-x: hidden;
}
// Arredonda as bordas (usando nas fotos)
.round {
	border-radius: 50%;
	overflow: hidden;
}

// Classe com azul-zumbi de fundo, texto branco
.suave {
	text-align: center;
	text-transform: uppercase;
	padding: 0.7em;
	font-size: 1em;
	background-color: @cor-bg-suave;
	color: @cor-txt-suave;
	font-family: @font-family-sans-serif-bold;
	line-height: 1.5em;
	margin-top: 0px;
	margin-bottom: 0px;
	border:0px solid transparent;
}

.lista-intervalo-preto {
	list-style: none;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	font-family: @font-family-sans-serif-bold;
	color: black;
	li {
		padding:0;
	}
	li+li {
		border-left: 2px solid black;
	}
}

.radio-hidden {
	// Esconde os botões
	input[type="radio"] {
		display: none;
	}

	label {
		cursor: pointer;
	}
	input[type="radio"]:checked + label {
		color:@cor-primaria;
	}
}

.foto-label {
	padding: 1em;
	text-align: center;
	background-color: @cor-semi-transparente;
	border: 1px solid @cor-fundo;
	color: black;
	.titulo-label {
		font-size: 1.4em;
		font-family: @font-family-sans-serif-bold;
		text-transform: uppercase;
	}
}

.fundo-cheio {
	background-color: white;
}

// Classe para imagem de background
div.foto-fundo {
	background-size: cover;
	background-position: center center;
	text-align: center;
	color: @cor-foto-fundo-txt;
}

// Imagem de topo que contém um título, um subtítulo e um botão de "como funciona"
.foto-header {
	width:100%;
	height: 25em;
	h2, h3 {
		text-shadow: 0em 0em 0.2em black;
		display: block;
	}
	h2 {
		padding-top: 3em;
		font-size: 3em;
		margin-top: 0;
	}
	h3 {
		font-size: 1em;
	}
	div {
		margin: 2em auto;
	}
}

// Links que são uma imagem de fundo com texto centralizado
.foto-link{
	overflow: hidden;
	a {
		transition: color 0.2s ease;
		text-decoration: none;
		position: relative;
		display: block;
		color: @cor-foto-fundo-txt;
		h4 {
			font-size: 2em;
			font-family: @font-family-sans-serif-bold;
			padding: 4em 0;
			margin: 0;
		}
		> .cover {
			transition: all 1s ease;
			img {
				transition: all 1s ease;
			}
			// Seta como preto pra que quando a opacidade da imagem diminuir parecer que escurece
			background-color: black;
		}
		&:hover {
			//color: @cor-txt-link-hover;
			// zoom na imagem (aumentando a porcentagem do div container)
			> .cover {
				width:300%;
				height:300%;
				top: -100%;
				left: -100%;
				img {
					opacity: 0.5;
				}
			}
		}
	}
}

// Subtitulo
h3.subtitulo {
	text-transform: uppercase;
	color: @cor-txt;
	font-family: @font-family-sans-serif-bold;
}

// Comentario com foto, dentro do link com foto
.foto-comentario {
	width: 94%;
	margin: 3%;
	height: 6em;
	position:absolute;
	top:0px;
	color: @cor-foto-comentario-txt;
	background-color: rgba(255,255,255,0.5);
	.foto {
		width: 5em;
		height: 5em;
		position: relative;
		margin: .5em auto;
		.cover {
			// Reseta o z-index pra 0 (nos links grandes fica como -1)
			z-index: 0;
		}
	}
}

.foto-avatar,
img.foto-avatar {
	max-width: 100%;
	border-radius: 50%;
}

ul.lista-usuarios {
	li.foto-user {
		img {
			.foto-avatar()
		}
	}
}


.alert {
	padding: 1em;
	border: 0px solid transparent;
	border-radius: 0px;
	background-color: @cor-semi-transparente;
	border-color: transparent	;
	color: black;
}

// Classe para facilitar posicionar no cantinho da direita de cima
.absolute-top-right {
	position: absolute;
	top:0;
	right:0;
	padding:1em;
}

//Texto laranja
a.laranja,
span.laranja,
.laranja {
	color: @cor-primaria;
	text-decoration: none;
}
