ul.pesquisa-viajar {

    a {
        text-transform: uppercase;
        color: @cor-primaria;
        font-family: @font-family-sans-serif-bold;
    }
}

.lista-autocomplete {
    position: absolute;
    top: 100%;
    border: 1px solid @cor-fundo;
    box-shadow: 2px 3px 5px @cor-fundo;
    width: 100%;
    z-index: 3;
    background-color: white;
    .list-group {
        width:100%; 
    }
}

ul.quartos-hotel {
    list-style: none;
}
.input-group-addon {
    border:0px;
    opacity: 0;
}

.loading-search {
    position: absolute;
    transition: opacity 0.3s ease;
    right: 2em;
    top: 1em;
}

.hotel-detalhes {
    .foto-header {
        h2 {
            max-width:50%;
            margin: 0 25%;
        }
        .quarto-destaque {
            position: absolute;
            top: 1em;
            left: 2em;
            background-color:@cor-semi-transparente;
            width:20%;
            color: black;
            padding: 1em;
        }
        div {
            margin: 0;
        }
    }   
    .fotos-detalhe {
        height: 60px;
        padding:5px 0;
        overflow:hidden;
        img {
            float:left;
            margin:3px;
        }
    }
    .descricao {
        text-align: left;
    }
    .room-cluster {
        border: 1px solid @cor-cinza-escuro;
        .roompacks .roompack:not(:last-child) {
            border-bottom: 1px solid @cor-cinza-escuro;
        }
        .roompacks {
            border-left: 1px solid @cor-cinza-escuro;
        }
        .tarifa {
            background-color:@cor-fundo;
        }
    }
    .servico {
        height:2em;
        text-align:left;
        overflow:hidden;
    }
}

#modal-quimera .modal-lg {
    width: 1040px; 
}

.restaurante {
    border: 1px solid @cor-cinza-escuro;
    height:15em;
    overflow:hidden;
    h5 {
        width:80%;    
    }
    i {
        color:@cor-pele-zumbi;
    }
    ul {
        width:100%;
        padding:0;
        margin:0;
        height:2em;
        overflow:hidden;
        li {
            height:2em;
            width: 100%;
            text-align: center;
        }
    }
    .maisinfos {
        width:98%;
        margin:1em 1%;
        border: 1px solid @cor-cinza-escuro;
        > div {
            padding-top:0.3em;
            padding-bottom:0.8em;
            height:2em;
            + div {
                border-left: 1px solid @cor-cinza-escuro;
            }
        }
    }

    .foto-restaurante {
        height:14em;
        margin: 0.4em; 
        margin-right: -0.5em;
        background-size: cover;
        background-position:center center;
        transition: all 5s ease 0.2s;
    }
    &:hover .foto-restaurante {
        background-position: top right;
    }
    .desconto {
        padding: 0.3em 0.8em;
        font-family: @font-family-sans-serif-bold;
        position:absolute;
        top: 0.8em;
        right:-4px;
        background-color: @cor-cinza-escuro;
        color:white;
    }
}
