ul.pesquisa-viajar {

    a {
        text-transform: uppercase;
        color: @cor-primaria;
        font-family: @font-family-sans-serif-bold;
    }
}

.lista-autocomplete {
    position: absolute;
    top: 100%;
    border: 1px solid @cor-fundo;
    box-shadow: 2px 3px 5px @cor-fundo;
    width: 100%;
    z-index: 3;
    background-color: white;
    .list-group {
        width:100%; 
    }
}

ul.quartos-hotel {
    list-style: none;
}

#modal-quimera .modal-lg {
    width: 1040px; 
}
