@import "coresefontes";
@import "utilitarios";

#welcome-html {
	position: relative;
	min-height: 100%;

	body {
		background-image: url("../../img/riolaranja.png");
		background-position: center center;
		background-size: cover;
	}
}
@cor-fundo-welcome : rgb(255, 245, 210);
.welcome-header {
	height: 11rem;
	background-color: rgba(255, 245, 210, 0.95);
	font-size: @font-size-rem*0.9;
	font-family: @font-family-sans-serif;
	font-weight: normal;
	.form-login .row {
		line-height: 0.5em;
		> div{
			padding:0.2em;
		}
	}
	a {
		color: @cor-primaria;
	}
	label.titulo {
		margin: 1em 0 0;
		line-height: 0.8em;
		text-transform: uppercase;
		color: @cor-primaria;
		font-family: @font-family-sans-serif-bold;
	}
	label.rememberme {
		font-family: @font-family-sans-serif;
	}
	.btn-submit {
		position: absolute;
		right: 0.2em;
		top: 0.2em;
		border-left: 1px solid @cor-fundo-welcome;
	}
	.rememberme {
		word-wrap:break-word;
		color: @cor-primaria;
		label {
			padding:0.2em;
		}
	}
	input[type="checkbox"] {
		text-align: left;
		float: left;
		vertical-align: bottom;
		position: relative;
		width: auto;
		height: 1em;
		margin:0;
		border:0px solid white;
		background-color: @cor-primaria;
		//corrigindo o desnivel com o label
		margin-top:-0.2em;

	}
	select, input {
		font-family: @font-family-sans-serif-bold;
		text-transform: uppercase;

		//Tira a borda redonda do bootstrap
		border-radius: 0px;
		width: 100%;
		height: 3.6rem;
		border: 1px solid @cor-primaria;
		background-color: @cor-primaria;
		color: white;
		padding: 0.8rem 1rem;;
		&:focus {
			border: 1px solid @cor-primaria;
		}

		option {
			background-color: rgba(255,255,255,0);
			border: 1px solid @cor-primaria;
		}
	}

	::-webkit-input-placeholder {
	   color: white;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: white;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: white;
	}

	:-ms-input-placeholder {
	   color: white;
	}

	.nav-logo {
		height: 9rem;
		padding: 0px;
		img {
			height:100%;
		}
	}
}
.brasilwelcome {
	max-width:70%;
	padding-top: 2em;
}
.balao-flutuante {
	background-color: @cor-quase-transparente;
	padding: 1em;
	color:white;
	position: absolute;
	max-width: 18rem;
	&.balao-1 {
		bottom: 20%;
		left:0;
	};
	&.balao-2 {
		bottom: 6%;
		max-width: 14rem;
		right:30%;
	};
	&.balao-3 {
		top: 50%;
		right:10%;
	}
}
div.welcome-content {
        form input[type="email"].form-control,
        form input[type="password"].form-control,
        form input[type="text"].form-control
        {
            &::-webkit-input-placeholder {
               color: white;
            }
            &:-moz-placeholder {  /* Firefox 18- */
               color: white;
            }
            &::-moz-placeholder {  /* Firefox 19+ */
               color: white;
            }
            &:-ms-input-placeholder {
               color: white;
            }
            opacity: 1;
            border: 0px solid transparent;
	}

	h3 {
		color: white;
		font-family: @font-family-sans-serif-bold;
		font-weight: normal;
		font-size: 2.5em;
	}

	p {
		color: white;
		font-size: 1.2rem;
	}
	.panel {
		background-color:transparent;
	}
	.welcome-cadastrar {
		> div {
			height: 4em;
		}
		.btn-facebook {
			position: absolute;
			bottom: 0;
			right: 10%;
			text-transform: none;
			font-family: @font-family-sans-serif;
		}
		padding-top: 4em;
		padding-bottom: 2em;
	}

	.form-cadastro-wrapper {
		margin:0;
	}

	a.anchor-tour {
		text-decoration: underline;
		color: white;
		font-size: 13px;
	}

	input {
		font-weight: bold;
		color: white;
		text-transform: uppercase;
		background-color: rgba(255, 255, 255, 0.25);
		border: 0px;
		border-radius: 0px;
		padding: 0 0.5em;
		font-size: @font-size-rem;
		font-family: @font-family-sans-serif-bold;
		font-weight: normal;

		&:focus {
	  		border: 1px solid @cor-primaria;
		}

		&[type='submit'] {
			background-color: white;
			color: @cor-primaria;
			font-weight: bold;
			text-transform: uppercase;
			border: 1px solid white;
			border-radius: 0px;
			padding: 0.5rem;
			font-size:1.2rem;
			width: 100%;
		}
	}
}
.welcome-privacy{
	a {
		color: @cor-primaria;
	}
}
