@cor-placeholder-inputs: white;
@cor-texto-btn-login : #F16F2B;

#welcome-html {
	position: relative;
	min-height: 100%;

	body {
		overflow: hidden;
		background-image: url("../../img/dummy.jpg");
		background-position: center center;
		background-size: cover;
	}
}



nav.welcome-navbar {
	height: 100px;
	background-color: rgba(241, 111, 43, 0.45);
  	padding: 10px;

	a {
		&.navbar-brand {
			font-size: 45px;
			color: white;  
			line-height: 35px;
		}

		&.forgot-password {
			color: white;
			line-height: 28px;
			font-size: 13px;
		}
	}

	label {
		color: white;
		text-transform: uppercase;
		background-color: transparent;
		font-weight: bold;
	}

	input, button.loginbtn {
		font-weight: bold;
		color: @cor-placeholder-inputs;
		text-transform: uppercase;
		background-color: transparent;	
		border: 1px solid @cor-placeholder-inputs;
		border-radius: 0px;

		// &:-webkit-autofill {
		// 	-webkit-box-shadow: 0 0 0px 1000px transparent inset!important;
		// 	background-color: rgba(0,0,0,0)!important;	
		// 	-webkit-text-fill-color: white !important;
		// }

	}

	div.checkbox {
		margin-top: 0px;
		padding-top: 3px;
		> label {
			font-weight: 100;
			text-transform: none;
			font-size: 13px;
		}
	}

	::-webkit-input-placeholder {
	   color: @cor-placeholder-inputs;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: @cor-placeholder-inputs;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: @cor-placeholder-inputs;  
	}

	:-ms-input-placeholder {  
	   color: @cor-placeholder-inputs;  
	}
}

div.welcome-content {
	::-webkit-input-placeholder {
	   color: @cor-placeholder-inputs;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: @cor-placeholder-inputs;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: @cor-placeholder-inputs;  
	}

	:-ms-input-placeholder {  
	   color: @cor-placeholder-inputs;  
	}

	h2 {
		color: @cor-placeholder-inputs;
		font-size: 38px;
		line-height: 42px;
		margin-bottom: 30px;
	}
	
	h3 {
		color: @cor-placeholder-inputs;
		font-size: 28px;
		line-height: 32px;
	}




	p {
		color: @cor-placeholder-inputs;
		font-size: 14px;
	}

	.welcome-left {
		margin-top: 50px;
	}

	.welcome-right {
		margin-left: 8%;
		float: right;

		.col-sm-6, .col-sm-12 {
			padding-left: 8px;
			padding-right: 8px;
		}
	}

	a.anchor-tour {
		text-decoration: underline;
		color: white;
		font-size: 13px;
	}

	button[type='submit'] {
		margin-left: 15px;
		background-color: white;
		color: @cor-texto-btn-login;
		font-weight: bold;
		text-transform: uppercase;
		border: 1px solid white;
		border-radius: 0px;
	}

	input {
		font-weight: bold;
		color: @cor-placeholder-inputs;
		text-transform: uppercase;
		background-color: rgba(255, 255, 255, 0.25);
		border: 0px;
		border-radius: 0px;
		padding: 21px 12px;
	}


}
