@import "modulos/mediaqueries";
@import "coresefontes";
@import "utilitarios";

/* Bibliotecas SOMENTE desta view */
	@cor-fundo-welcome: rgba(255, 245, 210, 1);
	@cor-menu-welcome: rgba(255, 245, 210, 0.95);

#welcome-html{
	position: relative;
	min-height: 100%;
}

#welcome-header{
	background-color: rgba(255,255,255,.75);
	font-size:@font-size-rem*0.9;
	font-family:@font-family-sans-serif;
	font-weight:normal;
	//border-bottom:1px solid @cor-primaria;
	//box-shadow:0 3px 2px -2px rgba(219, 85, 14, 0.8);

	.form-login .row {
		line-height: 0.5em;
		> div{
			padding:0.2em;
		}
	}
	a {
		color: black;
	}
	label.titulo {
		margin: 1em 0 0;
		line-height: 0.8em;
		text-transform: uppercase;
		color: @cor-primaria;
		font-family: @font-family-sans-serif-bold;
	}
	label.rememberme {
		font-family: @font-family-avenir-light;
	}
	.forgotpassword a{
		font-family: @font-family-avenir-light;
	}
	.btn-submit {
		position: absolute;
		right: 0.2em;
		top: 0.2em;
		border-left: 1px solid @cor-fundo-welcome;
	}
	.rememberme {
		word-wrap:break-word;
		color: black;
		label {
			padding:0.2em;
		}
	}
	input[type="checkbox"] {
		text-align: left;
		float: left;
		vertical-align: bottom;
		position: relative;
		width: auto;
		height: 1em;
		margin:0;
		border:0px solid white;
		background-color: black;
		//corrigindo o desnivel com o label
		margin-top:-0.2em;

	}
	select, input {
		font-family: @font-family-sans-serif-bold;
		text-transform: uppercase;

		//Tira a borda redonda do bootstrap
		border-radius: 0px;
		width: 100%;
		height: 3.6rem;
		border: 1px solid @cor-primaria;
		background-color: @cor-primaria;
		color: white;
		padding: 0.8rem 1rem;;
		&:focus {
			border: 1px solid @cor-primaria;
		}

		option {
			background-color: rgba(255,255,255,0);
			border: 1px solid @cor-primaria;
		}
	}

	::-webkit-input-placeholder {
	   color: white;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: white;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: white;
	}

	:-ms-input-placeholder {
	   color: white;
	}

	.nav-logo {
		width: auto;
		height: 9rem;
		display: block;
		position: relative;
		padding-top: 100%;
		padding: 0.5em 0 0.8em;
			&:focus{
				outline: none;
				outline-offset: 0;
			}
			#logo-vivala {
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
	}
}
#welcome-content{
	#brasilwelcome {
		width: 100%;
		max-width:70%;
		display: block;
		height: auto;
		position: relative;
		padding-top: 2em;
	}
	.balao-flutuante {
		font-size:1.1em;
		font-family: @font-family-avenir-medium;
		background-color: @cor-quase-transparente;
		padding: 1em;
		color:white;
		position: absolute;
		max-width: 18rem;
		&.balao-1 {
			bottom:25vh;
			left:-3vw;
		};
		&.balao-2 {
			bottom:3vh;
			max-width: 14rem;
			right:16vw;
		};
		&.balao-3 {
			top:36vh;
			right:5vw;
		}
	}
	#modal-manifesto{
		position: relative;
		top: 50vh;
		.btn-acao{
			padding: 2px 5px!important;
		}
	}
	form input[type="email"].form-control,
	form input[type="password"].form-control,
	form input[type="text"].form-control{
	    &::-webkit-input-placeholder {
	       color: @cor-cinza-escuro;
	    }
	    &:-moz-placeholder {  /* Firefox 18- */
	       color: @cor-cinza-escuro;
	    }
	    &::-moz-placeholder {  /* Firefox 19+ */
	       color: @cor-cinza-escuro;
	    }
	    &:-ms-input-placeholder {
	       color: @cor-cinza-escuro;
	    }
	    opacity: 1;
	    border: 0px solid transparent;
	}
	h3 {
		color: white;
		font-family: @font-family-sans-serif-bold;
		font-weight: normal;
		font-size: 2.5em;
	}
	p {
		color: white;
		font-size: 1.2rem;
	}
	.panel {
		background-color:transparent;
	}
	#welcome-cadastrar {
		> div {
			height: 4em;
		}
		padding-top: 3em;
		padding-bottom: 3.5em;
	}
	.form-cadastro-wrapper {
		margin:0;
	}
	a.anchor-tour {
		text-decoration: underline;
		color: white;
		font-size: 13px;
	}
	input {
		font-weight: bold;
		color: @cor-cinza-escuro;
		text-transform: uppercase;
		background-color: rgba(255, 255, 255, 0.75);
		border: 0px;
		border-radius: 0px;
		padding: 0 0.5em;
		font-size: @font-size-rem;
		font-family: @font-family-sans-serif-bold;
		font-weight: normal;
		&:focus {
	  		border: 1px solid @cor-primaria;
		}
		&[type='submit'] {
			background-color: transparent;
			color: white;
			font-weight: bold;
			text-transform: uppercase;
			border: 2px solid white;
			border-radius: 0px;
			padding: 0.5rem;
			font-size:1.2rem;
			width: 100%;
			&:hover{
				color: @cor-cinza-escuro;
				background-color: white;
				border: 2px solid white;
			}
		}
	}
	.welcome-privacy{
		font-family: @font-family-avenir-heavy;
		font-size: 1.3rem;
		text-shadow: 1px 1px 2px #000;
		a {
			font-family: @font-family-avenir-heavy;
			font-size: 1.3rem;
			color: white;
			text-decoration: underline;
		}
	}
	.form-cadastro-ou{
		font-family: @font-family-avenir-roman;
		font-weight: bold;
		text-transform: uppercase;
		color: white;
		&:before,
		&:after{
			content: " ";
			position:relative;
			display: inline-table;
			width: 42%;
			height: 1px;
			color: white;
			border-bottom: 2px solid white;
		}
		&:before{
			top: -5px;
			right: 20px;
		}
		&:after{
			top: -5px;
			left: 20px;
		}
	}
	.btn-face-desktop {
		text-transform: uppercase;
		font-family: @font-family-avenir-black;
		color: white;
	    background-color:#3B5998;
	    border-color:#3B5998;
	    padding: .7rem 2rem;
	    span {
	        color:white;
	        font-size: 1.5em;
	        padding-left: 0.5em;
	        vertical-align: bottom;
	    }
	}
}
/* 1920 x 1080 and up */
@media only screen and (min-width:1920px){
	#welcome-html body{
		background-image: url("../../img/welcome/welcome-bg-1920.png");
		background-size: cover;
		background-position: center -28vh;
		background-repeat: no-repeat;
		#welcome-mobile-warning{
			display:none;
		}
		#welcome-header,
		#welcome-content{
		  display: block;
		}
	}
}

/* 1600 x 900 and up */
@media only screen and (min-width:1600px){
	#welcome-html body{
		background-image: url("../../img/welcome/welcome-bg-1600.png");
		background-size: cover;
		background-position: center -28vh;
		background-repeat: no-repeat;
		#welcome-mobile-warning{
			display:none;
		}
		#welcome-header,
		#welcome-content{
		  display: block;
		}
	}
}

/* 1440 x 900 and up */
@media only screen and (min-width:1440px){
	#welcome-html body{
		background-image: url("../../img/welcome/welcome-bg-1440.png");
		background-size: cover;
		background-position: center -28vh;
		background-repeat: no-repeat;
		#welcome-mobile-warning{
			display:none;
		}
		#welcome-header,
		#welcome-content{
		  display: block;
		}
	}
}

/* 1366 x 768 and up */
@media only screen and (min-width:1366px){
	#welcome-html body{
		background-image: url("../../img/welcome/welcome-bg-1366.png");
		background-size: cover;
		background-position: center -28vh;
		background-repeat: no-repeat;
		#welcome-mobile-warning{
			display:none;
		}
		#welcome-header,
		#welcome-content{
		  display: block;
		}
	}
}

/* 1280 x 1024 and up */
@media only screen and (min-width:1280px) and (min-height:1024px){
	#welcome-html body{
		background-image: url("../../img/welcome/welcome-bg-1280-1.png");
		background-size: cover;
		background-position: center -28vh;
		background-repeat: no-repeat;
		#welcome-mobile-warning{
			display:none;
		}
		#welcome-header,
		#welcome-content{
		  display: block;
		}
	}
}

/* 1280 x 800 and up */
@media only screen and (min-width:1280px) and (min-height:800px){
	#welcome-html body{
		background-image: url("../../img/welcome/welcome-bg-1280-2.png");
		background-size: cover;
		background-position: center -28vh;
		background-repeat: no-repeat;
		#welcome-mobile-warning{
			display:none;
		}
		#welcome-header,
		#welcome-content{
		  display: block;
		}
	}
}

/* MD - Medium Devices, Desktops (992px and up) */
@media only screen and (min-width:@screen-md-min) and (max-width:@screen-md-max){
	#welcome-html body{
		background-image: url("../../img/welcome/welcome-bg-md.png");
		background-position: center center;
		background-size: cover;

		#welcome-mobile-warning{
			display:none;
		}
		#welcome-header,
		#welcome-content{
		  display: block;
		}
	}
}

/* SM - Small Devices, Tablets (768px and up) */
@media only screen and (min-width:@screen-sm-min) and (max-width:@screen-sm-max){
	#welcome-html body{
	  	//background-image:url("../../img/welcome/welcome-bg-sm.png");
		background-image:none;
		background-color:#FFF;

		#welcome-mobile-warning{
			display:block;
			a{
	 	  	color:@cor-primaria;
	 		}
		}
		#welcome-header,
		#welcome-content{
			display:none;
		}
	}
}

/* XS - Extra Small Devices, Phones (480px and up) */
@media only screen and (min-width:@screen-xs-min) and (max-width:@screen-xs-max){
	#welcome-html body{
		//background-image:url("../../img/welcome/welcome-bg-xs.png");
		background-image:none;
		background-color:white;

		#welcome-mobile-warning{
			display:block;
			a{
	 	  	color:@cor-primaria;
	 		}
		}
		#welcome-header,
		#welcome-content{
			display:none;
		}
	}
}

/* [Custom] iPhone Retina */
@media only screen and (max-width:@screen-retina-max){
	#welcome-html body{
		//background-image:url("../../img/welcome/welcome-bg-sm.png");
	  background-image:none;
	  background-color:white;

		#welcome-mobile-warning{
			display:block;
			a{
				color:@cor-primaria;
			}
		}
		#welcome-header,
		#welcome-content{
		 display: none;
		}
	}
}
