/*==============================================================================
  BOTÕES
==============================================================================*/
@import "cores";
@import "fontes";

a.btn-preto {
    margin-top: 2em;
    color: @cor-cinza-escuro;
    &:hover {
        color: @cor-cinza-escuro;
    }
    background-color:transparent;
    border-color :@cor-cinza-escuro;
    text-transform: none;
}

.btn-acao-laranja-cheio{
  display:inline-block;
  cursor:pointer;
  text-align:center;
  vertical-align: middle;
  text-transform:uppercase;
  white-space: nowrap;
  border:1px solid transparent;
  border-radius:0;
  background-image:none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px 10px;
  padding: 0.315rem 0.625rem;
  // Podem ser alterados daqui em diante
  font-familiy:'Gotham Black';
  font-weight:bolder;
  color:@cor-branco;
  background-color:@cor-laranja-primario;
  &:hover,
  &:focus{
    background-color:@cor-laranja-primario-4;
  }
  &:active{
    background-color:@cor-laranja-primario-5;
  }
}

.btn-acao-laranja-vazio{
  display:inline-block;
  cursor:pointer;
  text-align:center;
  vertical-align: middle;
  text-transform:uppercase;
  white-space: nowrap;
  border:1px solid transparent;
  border-radius:0;
  background-image:none;
  padding: 5px 14px;
  padding: 0.315rem 0.875rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // Podem ser alterados daqui em diante
  font-familiy:'Gotham Black';
  font-weight:bolder;
  color:@cor-laranja-primario;
  background-color:@cor-branco;
  &:hover,
  &:focus{
    color:@cor-branco;
    background-color:@cor-laranja-primario-4;
  }
  &:active{
    color:@cor-branco;
    background-color:@cor-laranja-primario-5;
  }
}

.btn-acao-laranja-cheio-2{
  display:inline-block;
  cursor:pointer;
  text-align:center;
  vertical-align: middle;
  text-transform:uppercase;
  white-space: nowrap;
  border:1px solid transparent;
  border-radius:0;
  background-image:none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px 10px;
  padding: 0.315rem 0.625rem;
  // Podem ser alterados daqui em diante
  font-familiy:'Gotham Black';
  font-weight:bolder;
  color:@cor-branco;
  background-color:@cor-laranja-primario;
  &:hover,
  &:focus{
    background-color:@cor-laranja-primario-4;
  }
  &:active{
    background-color:@cor-laranja-primario-5;
  }
}

.btn-acao-verde-cheio{
  display:inline-block;
  cursor:pointer;
  text-align:center;
  vertical-align: middle;
  text-transform:uppercase;
  white-space: nowrap;
  border-radius:0;
  background-image:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  // Podem ser alterados daqui em diante
  font-family: @font-family-avenir-black;
  font-weight:normal;
  color: #27a493;
  border: 3px solid #13a89e;
  background-color: white;
  transition: background-color 1s ease;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;

  &:hover,
  &:focus{
    color:@cor-branco;
    background-color: #13a89e;
  }
  &:active{
    color:@cor-branco;
    background-color: #13a89e;
  }
}

.btn-acao-vermelho-cheio{
  display:inline-block;
  cursor:pointer;
  text-align:center;
  vertical-align: middle;
  text-transform:uppercase;
  white-space: nowrap;
  border:1px solid transparent;
  border-radius:0;
  background-image:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  // Podem ser alterados daqui em diante
  font-family: @font-family-avenir-black;
  font-weight:normal;
  color:@cor-branco;
  background-color:@cor-vermelho-primario;
  &:hover,
  &:focus{
    color:@cor-branco;
    background-color:@cor-vermelho-primario-5;
    transition: background-color 1s ease;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    -ms-transition: background-color 1s ease;
  }
  &:active{
    color:@cor-branco;
    background-color:@cor-vermelho-primario-6;
    transition: background-color 1s ease;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    -ms-transition: background-color 1s ease;
  }
}

.btn-acao-branco-vazio{
  display:inline-block;
  cursor:pointer;
  text-align:center;
  vertical-align: middle;
  text-transform:uppercase;
  white-space: nowrap;
  border:2px solid @cor-branco;
  border-radius:0;
  background-image:none;
  padding: 5px 14px;
  padding: 0.315rem 0.875rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // Podem ser alterados daqui em diante
  font-familiy:'Gotham Black';
  font-weight:bolder;
  color:@cor-branco;
  background-color:transparent;
  &:hover,
  &:focus{
    color:@cor-preto;
    background-color:@cor-branco;
  }
  &:active{
    color:@cor-preto;
    background-color:@cor-branco;
  }
}

.btn-acao-laranja-vazio{
  display:inline-block;
  cursor:pointer;
  text-align:center;
  vertical-align: middle;
  text-transform:uppercase;
  white-space: nowrap;
  border:2px solid @cor-branco;
  border-radius:0;
  background-image:none;
  padding: 5px 14px;
  padding: 0.315rem 0.875rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // Podem ser alterados daqui em diante
  font-familiy:'Gotham Black';
  font-weight:bolder;
  color: @cor-laranja-primario;
  background-color:transparent;
  &:hover,
  &:focus{
    color:@cor-branco;
    background-color:@cor-laranja-primario;
  }
  &:active{
    color:@cor-branco;
    background-color:@cor-laranja-primario;
  }
}