/*==============================================================================
 CORES
==============================================================================*/

/*===================
  Cores GENÉRICAS
===================*/
@cor-branco:rgba(255,255,255,1);
@cor-preto:rgba(0,0,0,1);
@cor-cinza-claro:rgba(147,147,147,1);
@cor-cinza:rgba(99,99,99,1);
@cor-cinza-escuro:rgba(83,83,83,1);

/*===================
  Cores VIVALÁ
===================*/
  //  Laranjas Vivalá
    /*  Laranja Primário [#F16F2B] - Laranja da Logo da Vivalá */
      @cor-laranja-primario-1:rgba(246, 160, 115, 1);
      @cor-laranja-primario-2:rgba(244, 143, 91, 1);
      @cor-laranja-primario-3:rgba(243, 127, 67, 1);
      @cor-laranja-primario:rgba(241,111,43,1);
      @cor-laranja-primario-4:rgba(239, 95, 19, 1);
      @cor-laranja-primario-5:rgba(219, 85, 14, 1);
      @cor-laranja-primario-6:rgba(195, 75, 13, 1);

    /* Laranja Secundário [#D8702D] - Laranja Morto da Vivalá */
      @cor-laranja-secundario-1:rgba(231,166,124,1);
      @cor-laranja-secundario-2:rgba(226,148,98,1);
      @cor-laranja-secundario-3:rgba(221,130,71,1);
      @cor-laranja-secundario:rgba(216,112,45,1);
      @cor-laranja-secundario-4:rgba(193,97,36,1);
      @cor-laranja-secundario-5:rgba(165,83,31,1);
      @cor-laranja-secundario-6:rgba(138,69,26,1);

  //  Cinzas Vivalá
    /* Cinza Escuro [#8BA6AC] - Usado nos boxes de Seções do menu lateral */
      @cor-cinza-primario-1:rgba(183,199,204,1);
      @cor-cinza-primario-2:rgba(169,188,194,1);
      @cor-cinza-primario-3:rgba(154,177,183,1);
      @cor-cinza-primario:rgba(140, 166, 173,1);
      @cor-cinza-primario-4:rgba(117,148,157,1);
      @cor-cinza-primario-5:rgba(98,129,137,1);
      @cor-cinza-primario-6:rgba(81,107,114,1);

    /* Cinza Claro [#E2E2E2] - Usado nos fundos */
      @cor-cinza-secundario-1:rgba(237,237,237,1);
      @cor-cinza-secundario-2:rgba(233,233,233,1);
      @cor-cinza-secundario-3:rgba(230,230,230,1);
      @cor-cinza-secundario:rgba(226,226,226,1);
      @cor-cinza-secundario-4:rgba(198,198,198,1);
      @cor-cinza-secundario-5:rgba(170,170,170,1);
      @cor-cinza-secundario-6:rgba(141,141,141,1);

    /* Cinza Escuro [#5D5D5D] - Usado de bg nos boxes internos do site */
    @cor-cinza-terciario-1:rgba(154,154,154,1);
    @cor-cinza-terciario-2:rgba(134,134,134,1);
    @cor-cinza-terciario-3:rgba(113,113,113,1);
    @cor-cinza-terciario:rgba(93,93,93,1);
    @cor-cinza-terciario-4:rgba(81,81,81,1);
    @cor-cinza-terciario-5:rgba(70,70,70,1);
    @cor-cinza-terciario-6:rgba(58,58,58,1);

  // Verdes Vivalá
    /* Verde Conclusão [#18a493] */
      @cor-verde-primario-1:rgba(79,229,211,1);
      @cor-verde-primario-2:rgba(44,224,202,1);
      @cor-verde-primario-3:rgba(29,199,178,1);
      @cor-verde-primario:rgba(24,164,147,1);
      @cor-verde-primario-4:rgba(21,144,129,1);
      @cor-verde-primario-5:rgba(18,123,110,1);
      @cor-verde-primario-6:rgba(15,103,92,1);

    /* Amarelo Aviso [#F9A620] */
      @cor-amarelo-primario-1:rgba(251,191,93,1)
      @cor-amarelo-primario-2:rgba(250,178,61,1)
      @cor-amarelo-primario-3:rgba(249,165,29,1)
      @cor-amarelo-primario:rgba(249,166,32,1);
      @cor-amarelo-primario-4:rgba(239,150,6,1)
      @cor-amarelo-primario-5:rgba(205,129,6,1)
      @cor-amarelo-primario-6:rgba(171,107,5,1)
